@charset "utf-8";

/*
css name : component
use : align,display,layout,header,footer,lnb,aside
*/

/* ==================================================
	웹 폰트
================================================== */
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('../font/Pretendard-Bold.woff2') format('woff2'), url('../font/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url('../font/Pretendard-SemiBold.woff2') format('woff2'), url('../font/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url('../font/Pretendard-Medium.woff2') format('woff2'), url('../font/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url('../font/Pretendard-Regular.woff2') format('woff2'), url('../font/Pretendard-Regular.woff') format('woff');
}



/* ==================================================
	RESET
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, xmp,a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
ol, ul {list-style:none;}
table {border-collapse:collapse;border-spacing:0;}
th,td {vertical-align:middle;box-sizing:border-box;}
a:link, a:visited, a:hover, a:active {color:inherit;text-decoration:none;outline:none;}
b,strong {font-weight:700;}
input, textarea, select, button {margin:0;padding:0;font:inherit;}
button {border:0;background:none;outline:none;vertical-align:baseline;cursor:pointer;}
button > span {position:relative;vertical-align:baseline;white-space:nowrap;}
button::-moz-focus-inner, input::-moz-focus-inner {padding:0;border:0;}
button[disabled], input[disabled] {cursor:default;}
textarea {overflow:auto;}
textarea, input {resize:none;}
legend {visibility:hidden; font-size:0;}
audio:not([controls]) {display:none;height:0;}
svg:not(:root){overflow:hidden;}
input[type="text"]::-ms-clear, input[type="password"]::-ms-clear{display:none;}
input[type="button"],input[type="reset"],input[type="submit"]{border-radius:0;-webkit-appearance:button;appearance:button;cursor:pointer;}
button,textarea,input[type="text"],input[type="password"],input[type="email"],input[type="search"],input[type="number"],input[type="tel"],input[type="search"],input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {border-radius:0;-webkit-border-radius:0;appearance:none;-webkit-appearance:none;}
select {border-radius:0;-webkit-border-radius:0;}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{margin:0;-webkit-appearance:none;}
input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active {transition: background-color 5000s ease-in-out 0s;}


/* ==================================================
	공통레이아웃
================================================== */
html,body {width:100%;height:100%;color:#222;font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
font-weight:400; position:fixed; overflow:hidden;}
html {font-size:62.5%;}
body {position:relative;font-size:1.2rem;line-height:1.4; }

/* ==================================================
	Header
================================================== */
.commonHeader {position:fixed; background:#1D2D47; height:56px; top:0px; right:0px; left:0px; z-index:3000; font-size:0; box-sizing:border-box; transition:all 0.3s;}
.commonHeader .navWrap {position:relative; padding:0 40px 0 24px;display:flex; justify-content:space-between; align-items:center; height:100%;}
.commonHeader .navWrap h2.title {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); color:#fff; font-size:1.6rem; font-weight:700;}
.commonHeader .navWrap .btnSetting {display:block; width:36px; height:36px; background:url(../img/common/bg_icon_setting.png) no-repeat; font-size:0;}
.commonHeader .navWrap .btnSetting:hover {background-position-x:-36px;}
.commonHeader .navWrap .logoLeft {display:inline-block; width:98px; height:20px; background:url(../img/common/h1_logo2.png) no-repeat; vertical-align:middle;}


/* ==================================================
	CONTENT
================================================== */
.page {margin-top:56px; height:calc(100% - 56px); box-sizing:border-box;}
.pageEditor {margin-top:0px; height:100%;}

/* ==================================================
	footer
================================================== */
.copyright {display:none; z-index:100; text-align:center; padding:0 0 20px;}

/* ==================================================
	align
================================================== */
.taL {text-align:left !important;}
.taC {text-align:center !important;}
.taR {text-align:right !important;}

.vaT {vertical-align:top !important;}
.vaM {vertical-align:middle !important;}
.vaB {vertical-align:bottom !important;}
.vaBL {vertical-align:baseline !important;}


/* ==================================================
	hide & float & clear & block
================================================== */
.hide {display:none !important;}
.clear:after {display:block; clear:both; content:"";}
.ellipsis {overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.vHidden {visibility:hidden; overflow:hidden;position:absolute;left:-1000%;top:auto;width:1px;height:1px;}
caption.vHidden {position:relative;}
.block {display:block !important;}

/* ==================================================
	skip
================================================== */
a.skip{display:block;position:absolute;top:-1px;z-index:999;width:0;height:0;overflow:hidden;text-align:center}
a.skip:active,a.skip:focus{z-index:999;width:100%;height:auto;padding:5px;background:#FFF}


/* ==================================================
	margin, padding
================================================== */
.noMargin {margin:0 !important;}
.noPadding {padding:0px !important;}

.mtXSmall {margin-top:5px !important;}
.mtSmall {margin-top:10px !important;}
.mtNormal {margin-top:20px !important;}
.mtLarge {margin-top:50px !important;}

/* ==================================================
	width / height
================================================== */
.w100Per {width:100% !important;}
.w50Per {width:50% !important;}
.w33Per {width:33.33% !important;}
.w25Per {width:25% !important;}

.h100Per {height:100%;}

/* ==================================================
	font
================================================== */
.wordHide {font-size:0 !important;}
.cursorPointer {cursor:pointer}

/* ==================================================
	z-index
================================================== */
/* 
	
*/