@charset "utf-8";

/* ==================================================
	component
================================================== */
[type="search"],[type="number"],[type="tel"],[type="date"],[type="text"],[type="password"] {width:100%; height:100%; border:none; box-sizing:border-box;outline:0; vertical-align:middle;}
input::placeholder,
textarea::placeholder {color:#222;}

.compoEditText,
.compoEditText + .measure {padding:0;font-size: 1.8rem; font-weight:500; white-space: pre; box-sizing:border-box;}
.compoEditText:focus {color:#222;}
.compoEditText::placeholder {font-weight:400; color:#bdbdbd;}

.measure{ position: absolute;left: -9999px;top: -9999px;}

/* button function */
[class*="btnBasic"] {height:152px; border-radius:8px; border-style:solid; border-width:1px; font-weight:600; font-size:2rem; text-align:center; box-sizing:border-box;vertical-align:middle; }
.btnBasicPoint { color:#fff; background:#1367F4; border-color:#1367F4;}
.btnBasicPoint:hover {background:#0D51C5; border-color:#0D51C5;}
.btnBasicSub {color:#fff; background:#FF533B; border-color:#FF533B; }
.btnBasicSub:hover {background:#D7311B; border-color:#D7311B;}
.btnBasicLine {color:#676767; background:#fff; border-color:#bdbdbd; }
.btnBasicLine:hover {background:#f5f5f5;}

[class*="btnBasic"].wSizeL {width:112px !important;}
[class*="btnBasic"].wSizeM {width:96px !important; font-size:1.8rem;}

[class*="btnBasic"] + [class*="btnBasic"] {margin-left:16px;}

.inputBasic {height:40px; box-sizing:border-box;}
.inputBasic input {padding-left:12px; height:100%; border-bottom:1px solid #e2e2e2; font-size:1.6rem; font-weight:500;}

.dimmAlert {position:fixed; top:80px; left:50%; z-index:9999; line-height:22px; transform:translateX(-50%); padding:16px 50px; background:rgba(0,0,0,.6); color:#fff; font-size:1.8rem; font-weight:500; border-radius:8px;}

@media (max-width:414px)  {
	[class*="btnBasic"] {height:76px; font-size:1.6rem; }
	[class*="btnBasic"].wSizeL {width:76px !important;}
	[class*="btnBasic"].wSizeM {width:64px !important; font-size:1.4rem;}
	[class*="btnBasic"] + [class*="btnBasic"] {margin-left:0px; margin-top:10px;}

	.dimmAlert {left:10px; right:10px; text-align:center; transform:inherit}
}




/* ==================================================
	reg page
================================================== */
.regPage .commonHeader {display:none;}
.regPage .page {display:flex; align-items:center; justify-content:center; margin-top:0px; height: calc(100% - 0px);}
.regPage .logo {position:fixed; top:16px; left:32px; width:160px; height:48px; background:url(../img/common/h1_logo.png) no-repeat;}

.formReg {min-width:360px;}
.formReg h3 {font-size:2.4rem; font-weight:600; }
.formReg form {position:relative; margin-top:62px;}
.formReg form legend {font-size:1.4rem; color:#676767; font-weight:500; visibility:visible;}
.formReg .start {margin-top:30px; width:100%; height:56px; border-radius:8px; background-color:#e2e2e2; color:#bdbdbd; font-size:2rem; font-weight:600;}
.formReg .start.active {background-color:#1367F4; color:#fff;}
.formReg .searchShop {position:relative; margin-top:12px; overflow:hidden; display:flex; align-items:center; height:48px; padding:0 48px 0 50px; background:url(../img/common/bg_icon_search.png) 12px 50% no-repeat;border-bottom:1px solid #bdbdbd; white-space:nowrap; box-sizing:border-box;}
.formReg .searchShop .inputText {display:inline-block;}
.formReg .searchShop .btnClose {position:absolute; top:0; right:0; background:#fff url(../img/common/btn_round_close.png) 50% no-repeat; width:48px; height:100%; font-size:0;}
.formReg .address {margin:12px 0 0; color:#676767; font-size:1.6rem; font-weight:500;}

.shopListWrp {position:relative;}
.shopList {display:none; position:absolute; left:0; right:0; padding:16px 0; height:224px; border-radius:0 0 8px 8px; border: 1px solid #E2E2E2; background:#fff ;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16); box-sizing:border-box;}
.shopListWrp.active .shopList {display:block;}
.shopList li {padding:0 20px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; cursor:pointer}
.shopList li + li {margin-top:20px;}
.shopList strong {font-weight:400; font-size:1.8rem;}
.shopList span {padding-left:10px; font-weight:500; font-size:1.6rem; color:#9E9E9E;}

.verMobile .formReg {min-width:300px; width:300px;}

.checkPW {display:none; position:absolute; top:0; left:0; bottom:0; right:0; background:#fff;} 
.checkPW.active {display:block;}
.checkPW h2 {font-size:1.4rem; color:#676767; font-weight:500; }
.checkPW input[type="password"] {margin-top:12px; height:48px; border-bottom:1px solid #bdbdbd; font-size:1.4rem;}
.checkPW .start {margin-top:65px;}

@media (max-width:1023px)  {
.formReg {min-width:300px; width:300px;}
}


/* ==================================================
	order page
================================================== */
.orderLayout {display:flex; height:100%; background-color:#e7e8ed; box-sizing:border-box;}
.orderLayout .summary {width:160px; background: #F1F2F5; box-shadow: 2px 0px 1px rgba(63, 76, 150, 0.15); }
.orderLayout .scrollArea {padding:16px 24px; flex-grow:1;}

.summaryTab {padding-top:20px; height:150px; border-bottom:1px solid #e2e2e2; color:#bdbdbd; text-align:center; box-sizing:border-box; cursor:pointer}
.summaryTab.active {background-color:#FFF; color:#222;}
.summaryTab h4 {font-size:1.6rem; font-weight:600;}
.summaryTab .count {margin-top:12px; font-size:2.2rem; font-weight:500;}
.summaryTab .iconRound {margin-top:14px;}

.orderNone {height:100%; display:flex; align-items:center; justify-content:center;}
.orderNone p {padding-top:138px; height:160px; background:url(../img/common/bg_ordNone.png) 50% 0% no-repeat; text-align:center; font-size:1.8rem; color:#9E9FAC; box-sizing:border-box;}

.orderCard {background-color:#FFF; min-height:184px; box-shadow: 0px 0px 8px rgba(63, 76, 150, 0.15); border-radius: 8px; box-sizing:border-box;}
.orderCard + .orderCard {margin-top:16px;}

.orderCard {display:flex;}
.orderCard .time {width:120px; text-align:center;}
.orderCard .call {margin-top:22px; font-size:2.6rem;}
.orderCard .after {margin-top:3px; font-size:1.6rem; color:#FF533B; font-weight:600;}
.orderCard .btnCancel {margin-top:23px; width:64px; height:28px; background: #F5F5F5;border-radius: 4px; text-align:center;background-color:#f5f5f5; color:#676767; font-size:1.4rem; font-weight:500;}
.orderCard .orderMenu {flex-grow:1; padding:25px 25px 50px 25px;}
.orderCard .ordNum {font-size:1.6rem; font-weight:700;}
.orderCard .ordNum .iconRound {margin-left:3px;}
.orderCard .ordNum.isNew {color:#1367F4;}
.orderCard .ordNum.isDelay {color:#FF533B;}
.orderCard .menuCount {margin-top:14px; font-size:1.6rem; font-weight:500;}
.orderCard .menuCount span {padding-left:16px; color:#9e9e9e; font-weight:400;}
.orderCard .ordNum.isNew + .menuCount {margin-top:11px; }
.orderCard .munuList {margin-top:23px;}
.orderCard .munuList li {font-size:2rem; font-weight:500;}
.orderCard .munuList li + li {margin-top:23px;}
.orderCard .munuList li span {display:block; font-size:1.8rem; color:#9e9e9e;}
.orderCard.delay {background-color:#FFF1F1;}
.orderCard.delay .btnCancel {background-color:#FFD7D7; color:#EE5E5E;}
.orderCard.delay .btnBasicLine {border-color:#FFD7D7; color:#EE5E5E;}
.orderCard.cancel .time {color:#bdbdbd;}
.orderCard.cancel .ordNum {color:#bdbdbd;}
.orderCard.cancel .ordNum em {padding-left:5px; font-size:1.4rem; font-weight:600; color:#FF533B;}

.ordComment {margin-top:45px;}
.ordComment h5 {display:inline-block; position:relative; font-size:1.6rem; font-weight:700;}
.ordComment h5:before {display:block;content:""; position:absolute; bottom:3px; right:0; left:0; height:9px; background:#1367F4; opacity:0.2;}
.ordComment p {margin-top:7px; color:#676767; font-size:1.8rem;}

.orderCard .funcBtn .btnAlign {margin:16px 16px 0 0; font-size:0;}
.orderCard .funcBtn .btnAlign.duble {width:210px;}

.iconRound {display:inline-block; padding:0 10px; height:24px; line-height:24px; border-radius:12px; min-width:56px; text-align:center; color:#fff; font-size:1.4rem; font-weight:700; box-sizing:border-box; vertical-align:middle;}
.iconRound.new {background-color:#2962F6;}
.iconRound.delay {background-color:#FF533B;}


@media (max-width:768px)  {
	.orderLayout .summary {width:100px;}
	.orderCard .orderMenu {flex-grow:1; padding:25px 10px 50px 10px;}
}

@media (max-width:414px)  {
	.orderLayout {flex-direction: column;}
	.orderLayout .summary {width:100%; display:flex;}
	.orderLayout .summary .summaryTab {width:100%; border-bottom:none;}
	.orderLayout .summary .summaryTab + .summaryTab {border-left:1px solid #e2e2e2;}
	.orderLayout .scrollArea {padding: 15px;}
	.orderCard .orderMenu {flex-grow:1; padding:25px 10px 50px 10px;}
	.orderCard .funcBtn .btnAlign {text-align:right;}
	.orderCard .funcBtn .btnAlign.duble {width:auto;}
	.orderCard .call {font-size:2rem;}
	.orderCard .after {font-size:1.2rem;}
	.orderCard .munuList li {font-size:1.6rem;}
	.orderCard .munuList li span {font-size:1.4rem;}
}

@media (min-width:414px) and (max-width:1023px)  {

} 



/* ==================================================
	setting page
================================================== */
.breadcrumb {display:flex; align-items:center; justify-content:space-between; padding:0 32px 0 40px; height:82px; border-bottom:1px solid #e2e2e2;}
.breadcrumb .historyBack {display:inline-block; margin-right:10px; width:24px; height:24px; background:url(../img/common/arr_historyBack.png) no-repeat; font-size:0; vertical-align:middle;}
.breadcrumb h3 {display:inline-block; font-size:2.2rem; font-weight:600; vertical-align:middle;}
.breadcrumb .funcBtns {font-size:0;}
.breadcrumb .funcBtns button {margin-left:16px; width:96px; height:48px; border:1px solid #e2e2e2; border-radius:24px; font-size:1.6rem; font-weight:600; color:#676767; box-sizing:border-box;}
.breadcrumb .funcBtns button:hover {background-color:#f5f5f5;}
.breadcrumb .funcBtns button.active {color:#fff; background-color:#1367F4; border-color:#1367F4;}
.breadcrumb .funcBtns button.active:hover { background-color:#0D51C5; border-color:#0D51C5;}
.breadcrumb .funcBtns button.notAction {background-color:#B8D1FB; color:#fff; border-color:#B8D1FB;}

/* moveCheckbox */
.moveCheck {display:inline-block; font-size:0; vertical-align:middle;}
.moveCheck label {cursor:pointer}
.moveCheck label span {display:inline-block; width:40px; height:20px; background:#D9D9D9; border-radius:13px}
.moveCheck label span:after {position:relative; display:block; top:2px; left:2px;width:16px;height:16px;background:#fff;border-radius:50%;content:""; transition:all 0.3s;-webkit-transition:all 0.3s;}
.moveCheck [type="checkbox"] {appearance:none;-webkit-appearance:none;outline:0; width:0px; height:0px; border:none; padding:0;}
.moveCheck [type="checkbox"]:checked + span {background:#1367F4;}
.moveCheck [type="checkbox"]:checked + span:after {left:22px;}

.settings {padding:32px 0; height:calc(100% - 83px); box-sizing:border-box;}
.settings .jsScroll {height:100%;}
.settings .section {padding:0 48px;}
.settings .section + .section {margin-top:65px;}
.settings .section h4 {font-size:1.8rem; font-weight:500;}
.settings .section.divide {padding-top:65px;border-top:16px solid #F5F5F5; padding-bottom:200px;}
.settings .section .comment {margin-top:4px; font-size:1.6rem; color:#9e9e9e;}
.settings .timeset {margin-top:20px; display:flex; align-items:center;}
.settings .timeset .inputBasic {width:120px;}
.settings .timeset span {padding-left:16px; font-size:1.8rem; font-weight:800; color:#676767;}
.settings .section .grp h4 {display:inline-block; margin-right:16px; vertical-align:middle;}
.settings .moveCheck {margin-top:1px;}

.selectBox {position: relative; display:inline-block; margin-top:23px; min-width:184px; height:40px;}
.selectArrow,
.selectOptions span {cursor: pointer;}
.selectBox .selected {line-height:15px; background:transparent; padding:0; color:#222; width:100%;}
.selectBoxTop {width:184px; height:100%; padding:0 12px; border-bottom:1px solid #9e9e9e; font-size:1.6rem; font-weight:500; position: relative;z-index: 3; box-sizing:border-box;}
.selectArrow {position:absolute; top:0; right:0; bottom:0; left:0; }
.selectArrow:before {display:inline-block; position:absolute; top:14px; right:16px; width:6px;height:6px; border-right:2px solid #676767;border-top:2px solid #676767;text-indent:-9999px;-ms-transform:rotate(135deg);transform:rotate(135deg);content:'';}
.selectOptions {position: absolute;height:184px !important;background: #fff; border:1px solid #e2e2e2; left: 0; top: 40px; width: 100%; border-radius:0 0 8px 8px; padding:19px 0;box-shadow:0 3px 3px rgba(0,0,0,.16); box-sizing:border-box;}
.selectOptions span {display: block; padding-left:15px; font-size:1.6rem; font-weight:500;}
.selectOptions span + span {margin-top:17px;}
.selectOptions span:hover {background: #f5f5f5;}


.selectBox.disabled {opacity:0.5;}

@media (max-width:414px)  {
	.settings {padding:16px 0;}
	.settings .section {padding:0 24px;}
	.settings .section + .section {margin-top:40px;}
	.settings .section.divide {border-top-width:8px; padding-top:40px;}
	.breadcrumb {padding:0 22px 0 30px;}
	.breadcrumb .funcBtns button {margin-left:8px; width:66px; height:38px;}
}


/* ==================================================
	수동 호출
================================================== */
.manual-call {display:flex; height:100%;}
.manual-call .formCall {position:relative; display:flex; align-items:center; padding:0 160px 0 80px; width:60.16%; box-sizing:border-box;}
.manual-call .inner {width:100%;}
.manual-call .inner .tit {font-weight:500; font-size:1.4rem; color:#676767;}
.manual-call .btnCall {width:100%; margin-top:48px; height:56px; font-size:2rem; background:#1367F4; color:#fff; border-radius:8px}
.manual-call .btnCall:hover {background-color:#0D51C5;}
.manual-call .btnCall:disabled {background-color:#e2e2e2; color:#bdbdbd;}

.manual-call .callList {border-left:1px solid #e2e2e2; width:39.84%; overflow-y:auto; box-sizing:border-box;}
.manual-call .inner {padding:8px 20px 8px 27px; box-sizing:border-box; }
.manual-call li {display:flex; justify-content:space-between; align-items:center; padding:40px 0;}
.manual-call li + li {border-top:1px solid #E2E2E2;}
.manual-call li strong {color:#222; font-size:2.8rem;}
.manual-call li button {width:96px; height:48px; border:1px solid #e2e2e2; border-radius:40px; color:#676767; font-size:1.6rem; font-weight:600; box-sizing:border-box;}
.manual-call li button:focus,
.manual-call li button:hover { background-color:#f5f5f5;}

.btnReset {position:absolute; top:30px; right:30px; padding:0 40px; height:48px; border:1px solid #e2e2e2; border-radius:24px; font-size:1.6rem; font-weight:600; color:#676767; box-sizing:border-box}

.inputCall {position:relative; margin-top:12px; overflow:hidden; display:flex; align-items:center; height:48px; padding:0 48px 0 12px; border-bottom:1px solid #bdbdbd; box-sizing:border-box;}
.inputCall input {width:100%; height:100%; color:#222; font-size:1.8rem;}
.inputCall input::placeholder {color:#bdbdbd; }
.inputCall .btnClose {display:none; position:absolute; top:0; right:0; background:#fff url(../img/common/btn_round_close.png) 50% no-repeat; width:48px; height:100%; font-size:0;}
.inputCall input:focus + .btnClose {display:block;}

@media (max-width:812px)  {
	.manual-call .formCall {padding:0 40px 0 20px;}
	.manual-call li {padding:20px 0;}
	.manual-call .btnCall {margin-top:20px;}
	.btnReset {top:20px; right:20px; padding:0 20px;}
}

@media (max-width:414px)  {
	.manual-call {flex-direction: column;}
	.manual-call .formCall,
	.manual-call .callList {width:100%; height:50%;}
	.manual-call .callList {border:1px solid #e2e2e2; border-width:1px 0 0 0;}
	.manual-call .formCall {padding:0 20px 0 10px;}
	.manual-call li {padding:20px 0;}
	.manual-call li strong {font-size:2.2rem;}
	.manual-call li button {width:70px; height:40px;}
	.btnReset {height:36px; font-size:1.4rem;}
}