<div class="widget-theme01 dark" style="transform: scale(0.5)">
  <ul class="number-list pickup">
    <li class="number-list-row">
      <div class="number-box"><span class="point"></span></div>
      <div class="number-box"><span></span></div>
    </li>
    <li class="number-list-row">
      <div class="number-box"><span></span></div>
      <div class="number-box"><span></span></div>
    </li>
    <li class="number-list-row">
      <div class="number-box"><span></span></div>
      <div class="number-box"><span></span></div>
    </li>
    <li class="number-list-row">
      <div class="number-box"><span></span></div>
      <div class="number-box"><span></span></div>
    </li>
    <li class="number-list-row">
      <div class="number-box"><span></span></div>
      <div class="number-box"><span></span></div>
    </li>
  </ul>
</div>
