<div class="widget-theme06 dark" style="transform: scale(0.5)">
  <div class="title-wrap">
    <h1>
      PICK
      <br />
      UP
    </h1>
    <p><strong>영수증 번호</strong>를 확인해주세요.</p>
  </div>
  <ul class="number-list pickup">
    <li class="number-box-wrap">
      <div class="number-box">
        <span class="point"></span>
      </div>
    </li>
    <li class="number-box-wrap">
      <div class="number-box">
        <span></span>
      </div>
    </li>
    <li class="number-box-wrap">
      <div class="number-box">
        <span></span>
      </div>
    </li>
    <li class="number-box-wrap">
      <div class="number-box">
        <span></span>
      </div>
    </li>
    <li class="number-box-wrap">
      <div class="number-box">
        <span></span>
      </div>
    </li>
    <li class="number-box-wrap">
      <div class="number-box">
        <span></span>
      </div>
    </li>
    <li class="number-box-wrap">
      <div class="number-box">
        <span></span>
      </div>
    </li>
    <li class="number-box-wrap">
      <div class="number-box">
        <span></span>
      </div>
    </li>
  </ul>
</div>
