<div class="widget-theme03 dark" style="transform: scale(0.5)">
  <ul class="number-list pickup">
    <li class="number-wrap">
      <div class="number-box">
        <span></span>
      </div>
    </li>
    <li class="number-wrap">
      <div class="number-box">
        <span></span>
      </div>
      <div class="number-box">
        <span></span>
      </div>
    </li>
    <li class="number-wrap">
      <div class="number-box">
        <span></span>
      </div>
      <div class="number-box">
        <span></span>
      </div>
    </li>
    <li class="number-wrap">
      <div class="number-box">
        <span></span>
      </div>
      <div class="number-box">
        <span></span>
      </div>
    </li>
    <li class="number-wrap">
      <div class="number-box">
        <span></span>
      </div>
      <div class="number-box">
        <span></span>
      </div>
    </li>
  </ul>
</div>
