<div class="widget-theme02 dark" style="transform: scale(0.5)">
    <ul class="number-list pickup">
        <li class="number-box-wrap">
            <div class="number-box">
                <span class="point"></span>
            </div>
        </li>
        <li class="number-box-wrap">
            <div class="number-box">
                <span></span>
            </div>
        </li>
        <li class="number-box-wrap">
            <div class="number-box">
                <span></span>
            </div>
        </li>
        <li class="number-box-wrap">
            <div class="number-box">
                <span></span>
            </div>
        </li>
        <li class="number-box-wrap">
            <div class="number-box">
                <span></span>
            </div>
        </li>
        <li class="number-box-wrap">
            <div class="number-box">
                <span></span>
            </div>
        </li>
        <li class="number-box-wrap">
            <div class="number-box">
                <span></span>
            </div>
        </li>
        <li class="number-box-wrap">
            <div class="number-box">
                <span></span>
            </div>
        </li>
        <li class="number-box-wrap">
            <div class="number-box">
                <span></span>
            </div>
        </li>
        <li class="number-box-wrap">
            <div class="number-box">
                <span></span>
            </div>
        </li>
    </ul>
</div>
