<div class="widget-theme07 dark" style="transform: scale(0.5)">
  <section class="pickup-section">
    <div class="title">
      <h2>픽업</h2>
      <p>영수증 번호를 확인해주세요</p>
    </div>
    <ul class="number-list ready">
      <li class="number-box-wrap">
        <div class="number-box">
          <span></span>
        </div>
      </li>
      <li class="number-box-wrap">
        <div class="number-box">
          <span></span>
        </div>
      </li>
      <li class="number-box-wrap">
        <div class="number-box">
          <span></span>
        </div>
      </li>
      <li class="number-box-wrap">
        <div class="number-box">
          <span></span>
        </div>
      </li>
      <li class="number-box-wrap">
        <div class="number-box">
          <span></span>
        </div>
      </li>
      <li class="number-box-wrap">
        <div class="number-box">
          <span></span>
        </div>
      </li>
    </ul>
  </section>
  <section>
    <div class="title">
      <h2>준비중</h2>
    </div>
    <ul class="number-list pickup">
      <li class="number-box-wrap">
        <div class="number-box">
          <span class="point"></span>
        </div>
      </li>
      <li class="number-box-wrap">
        <div class="number-box">
          <span></span>
        </div>
      </li>
      <li class="number-box-wrap">
        <div class="number-box">
          <span></span>
        </div>
      </li>
      <li class="number-box-wrap">
        <div class="number-box">
          <span></span>
        </div>
      </li>
      <li class="number-box-wrap">
        <div class="number-box">
          <span></span>
        </div>
      </li>
      <li class="number-box-wrap">
        <div class="number-box">
          <span></span>
        </div>
      </li>
      <li class="number-box-wrap">
        <div class="number-box">
          <span></span>
        </div>
      </li>
      <li class="number-box-wrap">
        <div class="number-box">
          <span></span>
        </div>
      </li>
      <li class="number-box-wrap">
        <div class="number-box">
          <span></span>
        </div>
      </li>
      <li class="number-box-wrap">
        <div class="number-box">
          <span></span>
        </div>
      </li>
      <li class="number-box-wrap">
        <div class="number-box">
          <span></span>
        </div>
      </li>
      <li class="number-box-wrap">
        <div class="number-box">
          <span></span>
        </div>
      </li>
    </ul>
  </section>
</div>
