<div class="widget-theme04 dark" style="transform: scale(0.5)">
  <div class="number-main">
    <div class="number-box">
      <span class="point"></span>
    </div>
  </div>
  <ul class="number-list pickup">
    <li class="number-box-wrap">
      <div class="number-box">
        <span></span>
      </div>
    </li>
    <li class="number-box-wrap">
      <div class="number-box">
        <span></span>
      </div>
    </li>
    <li class="number-box-wrap">
      <div class="number-box">
        <span></span>
      </div>
    </li>
    <li class="number-box-wrap">
      <div class="number-box">
        <span></span>
      </div>
    </li>
    <li class="number-box-wrap">
      <div class="number-box">
        <span></span>
      </div>
    </li>
    <li class="number-box-wrap">
      <div class="number-box">
        <span></span>
      </div>
    </li>
    <li class="number-box-wrap">
      <div class="number-box">
        <span></span>
      </div>
    </li>
    <li class="number-box-wrap">
      <div class="number-box">
        <span></span>
      </div>
    </li>
  </ul>
</div>
