<div class="widget-theme08 light" style="transform: scale(1)">
  <div class="half-section">
    <div class="title">
      <h2>제품을 준비중입니다</h2>
    </div>
    <ul class="number-list ready">
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
    </ul>
  </div>
  <div class="half-section">
    <div class="title">
      <h2>제품을 준비중입니다</h2>
    </div>
    <ul class="number-list pickup">
      <li><span class="point"></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
    </ul>
  </div>
</div>
